<style type="text/css">
    .giohang {
        color: white;
        font-size: large
    }
</style>
<a href="@Url.Action("GioHang","GioHang")" class="giohang">
    Giỏ hàng<i class="fa fa-shopping-cart">
    </i> @if (@ViewBag.TongSoLuong >= 0)
    {
        <span>(@ViewBag.TongSoLuong)</span>
    }else
    {
        <span>(0)</span>
    }
</a>





