
<div style="margin-top:70px">
    <div style="background: #c5c5c585; padding: 8px 10px; border-radius: 7px; max-width: 1200px; margin: 0 auto;">
        <h2>Hãng sản xuất: @Model.Tenhang</h2>
    </div>
    @Html.Action("ListManufacturers", "Danhmuc")
</div>
