@{
    ViewBag.Title = "Contact";
}
<div style="padding:50px 0">
    <h3>Thông tin liên hệ</h3>

    <address>
        Lê Công Tuấn
        <br />
        <abbr title="Phone">Điện thoại:</abbr>
        0377969735
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:tuancnttk61@gmail.com">tuancnttk61@gmail.com</a><br />
    </address>
</div>
